<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Bram's JuiceBox Test"
	backgroundColor="rgba(51,51,51,1)"
	textColor="rgba(204,204,204,1)"
	thumbFrameColor="rgba(0,0,0,.5)"
	showOpenButton="false"
	showExpandButton="true"
	showThumbsButton="true"
	useThumbDots="false"

>
  <image imageURL="images/20171101-IMG_20171101_103301.jpg"
	thumbURL="thumbs/20171101-IMG_20171101_103301.jpg"
	linkURL="images/20171101-IMG_20171101_103301.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bram/Documents/Photos/Final Photos/20171101-IMG_20171101_103301.jpg">
    <title><![CDATA[20171101-IMG_20171101_103301]]></title>
    <caption><![CDATA[Indonesia]]></caption>
  </image>
  <image imageURL="images/20171102-IMG_20171102_090715.jpg"
	thumbURL="thumbs/20171102-IMG_20171102_090715.jpg"
	linkURL="images/20171102-IMG_20171102_090715.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bram/Documents/Photos/Final Photos/20171102-IMG_20171102_090715.jpg">
    <title><![CDATA[20171102-IMG_20171102_090715]]></title>
    <caption><![CDATA[Indonesia]]></caption>
  </image>
  <image imageURL="images/Art1.jpg"
	thumbURL="thumbs/Art1.jpg"
	linkURL="images/Art1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bram/Documents/Photos/Final Photos/Art1.jpg">
    <title><![CDATA[Art1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Art2.jpg"
	thumbURL="thumbs/Art2.jpg"
	linkURL="images/Art2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bram/Documents/Photos/Final Photos/Art2.jpg">
    <title><![CDATA[Art2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Flora1.jpg"
	thumbURL="thumbs/Flora1.jpg"
	linkURL="images/Flora1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bram/Documents/Photos/Final Photos/Flora1.jpg">
    <title><![CDATA[Flora1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Monkey1_after.jpg"
	thumbURL="thumbs/Monkey1_after.jpg"
	linkURL="images/Monkey1_after.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bram/Documents/Photos/Final Photos/Monkey1_after.jpg">
    <title><![CDATA[Monkey1_after]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20200730-Sequoia00554.jpg"
	thumbURL="thumbs/20200730-Sequoia00554.jpg"
	linkURL="images/20200730-Sequoia00554.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bram/Documents/Photos/Final Photos/20200730-Sequoia00554.jpg">
    <title><![CDATA[20200730-Sequoia00554]]></title>
    <caption><![CDATA[France]]></caption>
  </image>
  <image imageURL="images/DoYouLike.jpg"
	thumbURL="thumbs/DoYouLike.jpg"
	linkURL="images/DoYouLike.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bram/Documents/Photos/Final Photos/DoYouLike.jpg">
    <title><![CDATA[DoYouLike]]></title>
    <caption><![CDATA[Belgium]]></caption>
  </image>
  <image imageURL="images/DSC_0136.jpg"
	thumbURL="thumbs/DSC_0136.jpg"
	linkURL="images/DSC_0136.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bram/Documents/Photos/Final Photos/DSC_0136.jpg">
    <title><![CDATA[DSC_0136]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Jose1.jpg"
	thumbURL="thumbs/Jose1.jpg"
	linkURL="images/Jose1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bram/Documents/Photos/Final Photos/Jose1.jpg">
    <title><![CDATA[Jose1]]></title>
    <caption><![CDATA[The Netherlands]]></caption>
  </image>
</juiceboxgallery>